{% load static %}
<!--Footer Start-->
<footer class="home3 main-footer wf100">
    <div class="container">
      <div class="row"> 
        <!--Footer Widget Start-->
        <div class="col-md-3 col-sm-6">
          <div class="textwidget"> <img class="logoimage" src="{% static 'web/images/footer.png' %}" alt="">
            <address>
            <ul>
              <li> <i class="fas fa-university"></i> <strong>Office address:</strong> Second floor, Ali Tower
                Kurupath, kondotty, India </li>
              <li> <i class="fas fa-envelope"></i> <strong>Email:</strong> Connect@digitalkondotty.com
                Shareideas@digitalkondotty.com<br>
                </li>
              <li> <i class="fas fa-phone"></i> <strong>Call us:</strong> 9847520679
                </li>
            </ul>
            </address>
          </div>
        </div>
        <!--Footer Widget End--> 
        <!--Footer Widget Start-->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h6>Departments</h6>
            <ul>
              <li><a href="#"><i class="fas fa-star"></i> Government Services</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Kondotty Tourism</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Kondotty Education</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Education and Skills</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Jobs career</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Buisness List</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Emergency Service</a></li>
             
            </ul>
          </div>
        </div>
        <!--Footer Widget End--> 
        <!--Footer Widget Start-->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h6>Explore City Highlights</h6>
            <ul>
              <li><a href="#"><i class="fas fa-star"></i> Auto Taxi</a></li>
              <li><a href="#"><i class="fas fa-star"></i> City Events</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Mobile </a></li>
              <li><a href="#"><i class="fas fa-star"></i> Donations</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Become a Volunteer</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Tourism Map</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Food & Restaurants</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Nightlife Entertainments</a></li>
            </ul>
          </div>
        </div>
        <!--Footer Widget End--> 
        <!--Footer Widget Start-->
        <div class="col-md-3 col-sm-6">
          <div class="twitter-widget">
            <div class="tw-txt">
              <h6>@john.flintoff</h6>
              <a href="#" class="reply-tw"><i class="fas fa-reply"></i></a>
              <p> The Hightst Glory of the Citizen’s revolution was this; it connected in one indissoluble bond the principles of civil govt. with humanity principles. </p>
            </div>
            <div class="tw-footer"> @Balad.gov <strong>3 November, 2019</strong> <i class="fab fa-twitter"></i> </div>
          </div>
        </div>
        <!--Footer Widget End--> 
      </div>
    </div>
  </footer>
  <!--Footer Start--> 
  <!--Footer Start-->
  <footer class="home3 footer wf100">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <p class="copyr"> © 2022 Digital Kondotty. All rights reserved. Designed By <strong><a href="https://gedexo.com/" target="_blank">  Gedexo   </a></strong></p>
        </div>
        <div class="col-md-5 col-sm-5">
          <ul class="footer-social">
            <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" class="insta"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" class="linken"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#" class="yt"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!--Footer End--> 