{% load static %}
<!--Footer Start-->
<footer class="home3 main-footer wf100">
  <div class="container">
    <div class="row">
      <!--Footer Widget Start-->
      <div class="col-md-4 col-sm-6">
        <div class="textwidget"> <img class="logoimage" src="{% static 'web/images/footer.png' %}" alt="">
          <address>
            <ul>
              <li> <i class="fas fa-university"></i> <strong>Office address:</strong> Second floor, Ali Tower
                Kurupath, kondotty, India </li>
              <li> <i class="fas fa-envelope"></i> <strong>Email:</strong> Connect@digitalkondotty.com
                Shareideas@digitalkondotty.com<br>
              </li>
              <li> <i class="fas fa-phone"></i> <strong>Call us:</strong> 9847520679
              </li>
            </ul>
          </address>
        </div>
      </div>
      <!--Footer Widget End-->
      <!--Footer Widget Start-->
      <div class="col-md-4 col-sm-6">
        <div class="footer-widget">
          <h6>Quick Links</h6>
          <ul>
            <li><a href="{% url 'web:home' %}"><i class="fas fa-star"></i> Home</a></li>
            <li><a href="{% url 'web:about' %}"><i class="fas fa-star"></i> About</a></li>
            <li><a href="{% url 'web:departments' %}"><i class="fas fa-star"></i> Departments</a></li>
            <li><a href="{% url 'web:news' %}"><i class="fas fa-star"></i> News</a></li>
            <li><a href="{% url 'web:event' %}"><i class="fas fa-star"></i> Events</a></li>
            <li><a href="{% url 'web:contact' %}"><i class="fas fa-star"></i> Contact Us</a></li>
            <li><a href="{% url 'web:gallery' %}"><i class="fas fa-star"></i> Gallery</a></li>

          </ul>
        </div>
      </div>
      <!--Footer Widget End-->
      <!--Footer Widget Start-->
      <!-- <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h6>Explore City Highlights</h6>
            <ul>
              <li><a href="#"><i class="fas fa-star"></i> Auto Taxi</a></li>
              <li><a href="#"><i class="fas fa-star"></i> City Events</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Mobile </a></li>
              <li><a href="#"><i class="fas fa-star"></i> Donations</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Become a Volunteer</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Tourism Map</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Food & Restaurants</a></li>
              <li><a href="#"><i class="fas fa-star"></i> Nightlife Entertainments</a></li>
            </ul>
          </div>
        </div> -->
      <!--Footer Widget End-->
      <!--Footer Widget Start-->
      <div class="col-md-4 col-sm-6">
        <div class="">
          <div class="">
            <blockquote class="twitter-tweet">
              <p lang="en" dir="ltr">Happy New Year 🥳 <a
                  href="https://twitter.com/hashtag/NewYear2022?src=hash&amp;ref_src=twsrc%5Etfw">#NewYear2022</a> <a
                  href="https://twitter.com/hashtag/2k22?src=hash&amp;ref_src=twsrc%5Etfw">#2k22</a> <a
                  href="https://t.co/EAcyb8m0A8">pic.twitter.com/EAcyb8m0A8</a></p>&mdash; KC Musthafa (@kc__musthafa)
              <a href="https://twitter.com/kc__musthafa/status/1477150164745740288?ref_src=twsrc%5Etfw">January 1,
                2022</a>
            </blockquote>

            <a class="twitter-timeline" data-width="400" data-height="300" href="https://twitter.com/kc__musthafa?ref_src=twsrc%5Etfw">Tweets by kc__musthafa</a> 


            <!-- <h6>@kc__musthafa</h6> -->
            <!-- <a href="https://twitter.com/kc__musthafa?t=krnncVwOuBdQrmYxkCr8ZQ&s=09" class="reply-tw" target="_blank"><i class="fas fa-reply"></i></a>
              <p> #digitalkondotty on action, let’s get updated in the world of technology. Digitalisation in the heart of Malappuram with the art of technology. </p> -->
          </div>
        </div>
      </div>
      <!--Footer Widget End-->
    </div>
  </div>
</footer>
<!--Footer Start-->
<!--Footer Start-->
<footer class="home3 footer wf100">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7">
        <p class="copyr"> © 2022 Digital Kondotty. All rights reserved. Designed By <strong><a
              href="https://gedexo.com/" target="_blank"> Gedexo </a></strong></p>
      </div>
      <div class="col-md-5 col-sm-5">
        <ul class="footer-social">
          <li><a href="https://www.facebook.com/digitalkondotty/" class="fb" target="_blank"><i
                class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://instagram.com/digitalkondotty" class="insta" target="_blank"><i
                class="fab fa-instagram"></i></a></li>
          <!-- <li><a href="#" class="yt"><i class="fab fa-youtube"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--Footer End-->