{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}



<!--Subheader Start-->
<section class="wf100 subheader">
    <div class="container">
       <h2>About Us </h2>
       <ul>
          <li> <a href="{% url 'web:home' %}">Home</a> </li>
          <li> About Us </li>
       </ul>
    </div>
 </section>
 <!--Subheader End--> 
 <!--Main Content Start-->
 <div class="main-content">
    <!--Local Boards & Services-->
    <section class="wf100 p80-0">
       <div class="container">
          <div class="row">
             <div class="col-md-8 col-sm-7">
                <div class="h2-Mayor-msg">
                   <div class="Mayor-img"> <span class="msig"> <img src="{% static 'web/images/mayer-signature.png' %}" alt=""> </span> <img src="{% static 'web/images/mayer2.jpg' %}" alt=""></div>
                   <div class="Mayor-txt">
                      <strong>Mayor of the City</strong>
                      <h4>Edward Robert</h4>
                      <p> The Hightst Glory of the Citizen’s revolution was this; it connected in one indissoluble bond the principles of civil government with the principles of humanity. </p>
                      <a href="#">Contact Me</a> 
                   </div>
                </div>
             </div>
             <div class="col-md-4 col-sm-5">
                <!--Mayor Msg Start-->
                <div class="city-tour gallery"> <strong> vibrant city </strong> <a href="http://youtu.be/VVvgm7AhFc8" data-rel="prettyPhoto" title="City Tour"><img src="{% static 'web/images/playicon.png' %}" alt=""></a> <img src="{% static 'web/images/cityvideobg.jpg' %}" alt=""> </div>
                <!--Mayor Msg End--> 
             </div>
          </div>
       </div>
    </section>
    <!--Local Boards & Services End--> 
    <!--Local Boards & Services Start-->
    <section class="wf100 p80 h2-local-brands depart-info">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="section-title">
                   <h2>Local Boards & Services</h2>
                   <p>For the beginning of a new paragraph marks a change of topic or a step in the development of an<br>
                      argument or of a story. In writing essays or other compositions too include.
                   </p>
                </div>
             </div>
          </div>
          <div class="row">
             <!--Local Box Start-->
             <div class="col-md-3 col-sm-3">
                <div class="deprt-icon-box">
                   <img src="{% static 'web/images/deprticon1.png' %}" alt="">
                   <h6> <a href="#">History &amp; Establishment</a> </h6>
                   <a class="rm" href="#">Read More</a> 
                </div>
             </div>
             <!--Local Box End--> 
             <!--Local Box Start-->
             <div class="col-md-3 col-sm-3">
                <div class="deprt-icon-box">
                   <img src="{% static 'web/images/deprticon2.png' %}" alt="">
                   <h6> <a href="#">Government Economy</a> </h6>
                   <a class="rm" href="#">Read More</a> 
                </div>
             </div>
             <!--Local Box End--> 
             <!--Local Box Start-->
             <div class="col-md-3 col-sm-3">
                <div class="deprt-icon-box">
                   <img src="{% static 'web/images/deprticon3.png' %}" alt="">
                   <h6> <a href="#">Constitution &amp; Government Law</a> </h6>
                   <a class="rm" href="#">Read More</a> 
                </div>
             </div>
             <!--Local Box End--> 
             <!--Local Box Start-->
             <div class="col-md-3 col-sm-3">
                <div class="deprt-icon-box">
                   <img src="{% static 'web/images/deprticon4.png' %}" alt="">
                   <h6> <a href="#">International
                      &amp; Current Affairs </a> 
                   </h6>
                   <a class="rm" href="#">Read More</a> 
                </div>
             </div>
             <!--Local Box End--> 
          </div>
       </div>
    </section>
    <!--Local Boards & Services End--> 
    <!--Read Some Facts Start-->
    <section class="wf100 some-facts">
       <div class="container">
          <h2>Read Some Facts</h2>
          <ul>
             <li>
                <div class="facts-icon"><i class="fas fa-users"></i></div>
                <strong>20,980,150</strong> <span>Population</span> 
             </li>
             <li>
                <div class="facts-icon"><i class="fas fa-map-marked-alt"></i></div>
                <strong>65,755</strong> <span>Square Miles</span> 
             </li>
             <li>
                <div class="facts-icon"><i class="fas fa-chart-line"></i></div>
                <strong>$1.00 T</strong> <span>Economy Rate</span> 
             </li>
             <li>
                <div class="facts-icon"><i class="fas fa-hospital"></i></div>
                <strong>257</strong> <span>Hospitals</span> 
             </li>
             <li>
                <div class="facts-icon"><i class="fas fa-hiking"></i></div>
                <strong>10.0 M</strong> <span>Tours Visits</span> 
             </li>
          </ul>
       </div>
    </section>
    <!--Read Some Facts End--> 
    <!--City Official Members Start-->
    <section class="wf100 p80 official-members">
       <div class="container">
          <div class="row">
             <div class="col-md-3">
                <div class="team-heading">
                   <h2>City Official Members</h2>
                   <p> Here is the team our of City Officials, are very competent, energetic and very determined with futuristics goals about the city progress. </p>
                   <a href="#">Become a Volunteer</a> 
                </div>
             </div>
             <!--Team Box Start-->
             <div class="col-md-3 col-sm-4">
                <div class="team-box">
                   <div class="team-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'web/images/cteam1.jpg' %}" alt=""></div>
                   <div class="team-txt">
                      <h5>Stephen Paul</h5>
                      <strong class="dep">Assistant Mayor</strong>
                      <p> Stephen Paul is very Compitent and very agile person who assist to Mayor of the City. </p>
                      <ul class="team-social">
                         <li><em>Connect:</em></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box End--> 
             <!--Team Box Start-->
             <div class="col-md-3 col-sm-4">
                <div class="team-box">
                   <div class="team-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'web/images/cteam2.jpg' %}" alt=""></div>
                   <div class="team-txt">
                      <h5>Harry Wilson</h5>
                      <strong class="dep">Health Ministerr</strong>
                      <p> Harry Wilson is Minister of Health Department, look after all matters related health in the city. </p>
                      <ul class="team-social">
                         <li><em>Connect:</em></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box End--> 
             <!--Team Box Start-->
             <div class="col-md-3 col-sm-4">
                <div class="team-box">
                   <div class="team-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'web/images/cteam3.jpg' %}" alt=""></div>
                   <div class="team-txt">
                      <h5>James Scott</h5>
                      <strong class="dep">Marketing Coordinator</strong>
                      <p> James Scott is very strong person who coordinate in all the events and marketing strategies. </p>
                      <ul class="team-social">
                         <li><em>Connect:</em></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <!--Team Box End--> 
          </div>
       </div>
    </section>
    <!--City Official Members End--> 
    <!--Emergency Numbers Start-->
    {% include 'web/partials/subscribe.html' %}

    <!--Emergency Numbers End--> 
    <!-- Explore Community Start-->
    <section class="wf100 p80 explore-community">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <h3>Explore Community</h3>
                <ul class="community-links-style-two col3">
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon1.png' %} " alt=""> Beachs and Nightlife </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon2.png' %} " alt=""> Parks Nature &amp; Wildlife </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon3.png' %} " alt=""> Education Intitutes </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon4.png' %} " alt=""> Public Safety </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon5.png' %} " alt=""> Health and Welfare </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon6.png' %} " alt=""> Transportation </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon7.png' %} " alt=""> Entertainment </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon8.png' %} " alt=""> Sports </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon9.png' %} " alt=""> City Council </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon10.png' %} " alt=""> Important Numbers </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon11.png' %} " alt=""> Resturants </a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon12.png' %} " alt=""> Neighbourhoods</a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon13.png' %} " alt=""> Arts &amp; Culture</a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon14.png' %} " alt=""> Where to stay</a> </li>
                   <li> <a href="#"> <img src="{% static 'web/images/excomm-icon15.png' %} " alt=""> Shopping Malls</a> </li>
                </ul>
             </div>
          </div>
       </div>
    </section>
    <!-- Explore Community End--> 
 </div>
 <!--Main Content End--> 



























{% endblock %}