{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2>
         Business & Shops </h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> <a href="#"> Business & Shops</a> </li>

      </ul>
   </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80 gallery">
   <!-- Gallery Page Start -->
   <div class="container">
      <div class="row">
         {% for data in data %}
         <div class="col-md-4 col-xs-6 business-shop">
            <div class="thumb"> <a ><i class="fas fa-link"></i></a> <img
                  src="{{data.shop_image.url}}" alt=""> </div>

            <div class="event-post">

               <div class="event-post-content">
                  <div class="event-post-txt city-jobs">
                     <h5><a >{{data.shop_name}}
                        </a></h5>
                     <ul class="event-meta">
                        
                        <li>CONTACT : {{data.phone}}</li>
                        <li>MAIL : {{data.email}}
                        </li>
                     </ul>
                     
                  </div>
                  
               </div>
            </div>
         </div>
         {% endfor %}
      </div>

   </div>
   <!-- Gallery Page Start -->
</div>
<!--Main Content End-->

{% endblock %}