{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader ">
    <div class="container">
        <h2>City Jobs</h2>
        <ul>
            <li> <a href="{% url 'web:home' %}">Home</a> </li>
            <li> City Jobs </li>
        </ul>
    </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<section class="wf100 city-news p50">
    <div class="container">
        
        <div class="row">
            <!--Event Start-->
            
            <div class="col-md-4 col-sm-6">
                <div class="event-post">
                    <div class="thumb"> <a href="#"><i class="fas fa-link"></i></a> </div>
                    <div class="event-post-content">
                        <div class="event-post-txt">
                            <h5><a href="{% url 'web:city_jobs_all' %}"> React JS Developer
                            </a></h5>
                            <ul class="event-meta">
                                <li>COMPANY : Gedexo Technologies LLP
                                </li>
                                <li>CONTACT   : +91 8547 733 528</li>
                                <li>MAIL		: gedexohr@gmail.com
                                </li>
                            </ul>
                            <p>Experienced candidates preferred 
                                
                                   <br>Freshers can also apply
                                
                                
                            </p>
                        </div>
                        <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> Kondotty , MALAPPURAM <a
                                href="#"><i class="fas fa-arrow-right"></i></a> </div>
                    </div>
                </div>
            </div>
            <!--Event End-->
            <!--Event Start-->
            <div class="col-md-4 col-sm-6">
                <div class="event-post">
                    
                    <div class="event-post-content">
                        <div class="event-post-txt">
                            <h5><a href="{% url 'web:city_jobs_all' %}">Business Development Executive
                            </a></h5>
                            <ul class="event-meta">
                                <li>COMPANY : Gedexo Technologies LLP
                                </li>
                                <li>CONTACT   : +91 8547 733 528</li>
                                <li>MAIL		: gedexohr@gmail.com
                                </li>
                            </ul>
                            <p>Strong communication & Presentation skill
                                Any Degree or Marketing Experience
                                Freshers can also apply.
                                </p>
                        </div>
                        <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> Kondotty , MALAPPURAM <a
                                href="#"><i class="fas fa-arrow-right"></i></a> </div>
                    </div>
                </div>
            </div>
            <!--Event End-->
             <!--Event Start-->
            <div class="col-md-4 col-sm-6">
                <div class="event-post">
                   
                    <div class="event-post-content">
                        <div class="event-post-txt">
                            <h5><a href="{% url 'web:city_jobs_all' %}"> Python Developer
                            </a></h5>
                            <ul class="event-meta">
                                <li>COMPANY : Gedexo Technologies LLP
                                </li>
                                <li>CONTACT   : +91 8547 733 528</li>
                                <li>MAIL		: gedexohr@gmail.com
                                </li>
                                <li>2 - 3 Years experience
                                </li>
                            </ul>
                        </div>
                        <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> Millenia Orlando, USA <a
                                href="#"><i class="fas fa-arrow-right"></i></a> </div>
                    </div>
                </div>
            </div>
           
            <!--Event End-->
            <!--Event Start-->
            <div class="col-md-4 col-sm-6 mt-5">
                <div class="event-post">
                    <div class="thumb"> <a href="#"><i class="fas fa-link"></i></a> </div>
                    <div class="event-post-content">
                        <div class="event-post-txt">
                            <h5><a href="{% url 'web:city_jobs_all' %}">Content Writer</a></h5>
                            <ul class="event-meta">
                                <li>COMPANY : Gedexo Technologies LLP
                                </li>
                                <li>CONTACT   : +91 8547 733 528</li>
                                <li>MAIL		: gedexohr@gmail.com
                                </li>
                            </ul>
                            <p>Good Communication Skills (Verbal & Written in English)
                                Adaptability    <br>Passion for IT & Interest in Latest Digital Marketting Trends
                                Freshers can also apply
                                
                                
                            </p>
                        </div>
                        <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> Kondotty , MALAPPURAM <a
                                href="#"><i class="fas fa-arrow-right"></i></a> </div>
                    </div>
                </div>
            </div>
            <!--Event End-->
            
           
        </div>
    </div>
</section>

<!--Main Content End-->

{% endblock %}