{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<!--Sub Header Start-->
<section class="wf100 subheader ">
    <div class="container">
        <h2>City Jobs</h2>
        <ul>
            <li> <a href="{% url 'web:home' %}">Home</a> </li>
            <li> City Jobs </li>
        </ul>
    </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<section class="wf100 city-news p50">
    <div class="container">
        
        <div class="row">
            <!--Event Start-->
            {% for jobs in jobs %}
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="event-post">

                    <div class="event-post-content">
                        <div class="event-post-txt city-jobs">
                            <h5><a href="{% url 'web:single_job' jobs.id %}">{{jobs.job_title}}
                                </a></h5>
                            <ul class="event-meta">
                                <li>COMPANY : {{jobs.company_name}}
                                </li>
                                <li>CONTACT : +91 {{jobs.phone}}</li>
                                <li>MAIL : {{jobs.email}}
                                </li>
                            </ul>
                            <p>{{jobs.basic_requirements|truncatechars:100}}
                            </p>
                        </div>
                        <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> {{jobs.location|truncatechars:34}} <a
                                href="{% url 'web:single_job' jobs.id %}"><i class="fas fa-arrow-right"></i></a> </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--Event End-->
           
            
           
        </div>
    </div>
</section>

<!--Main Content End-->

{% endblock %}