{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
         <!--Sub Header Start-->
         <section class="wf100 subheader">
            <div class="container">
               <h2>City Departments</h2>
               <ul>
                  <li> <a href="{% url 'web:home' %}">Home</a> </li>
                  <li> Departments </li>
               </ul>
            </div>
         </section>
         <!--Sub Header End--> 
         <!--Main Content Start-->
         <div class="main-content ">
            <!--Events Start-->
            <div class="departments p80 dpage-bg">
               <div class="container">
                  <div class="row">
                     <!--Department Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="community-box mb30">
                           <h6>Agriculture &amp; Food</h6>
                           <ul>
                              <li><a href="#"><i class="fas fa-circle"></i> Farming Sector</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Agri Industry Development</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Forestry</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Rural Environment</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Food Safety</a></li>
                           </ul>
                           <a class="see-more" href="#">See More</a> <span><img src="{% static 'web/images/ccc-icon1.png' %}" alt=""></span> 
                        </div>
                     </div>
                     <!--Department Box End--> 
                     <!--Department Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="community-box mb30">
                           <h6>Employment Affairs</h6>
                           <ul>
                              <li><a href="#"><i class="fas fa-circle"></i> Find Your Job</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Employers &amp; Employment</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Public Service Identity</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Retirements &amp; Older People</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Work Licence Permit</a></li>
                           </ul>
                           <a class="see-more" href="#">See More</a> <span><img src="{% static 'web/images/ccc-icon2.png' %}" alt=""></span> 
                        </div>
                     </div>
                     <!--Department Box End--> 
                     <!--Department Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="community-box mb30">
                           <h6>Housing &amp; Planning</h6>
                           <ul>
                              <li><a href="#"><i class="fas fa-circle"></i> Residents &amp; Commercial Areas</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Building Standards</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> National Planning Framework</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Water Filteration Authority</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> State Parks &amp; Developments</a></li>
                           </ul>
                           <a class="see-more" href="#">See More</a> <span><img src="{% static 'web/images/ccc-icon3.png' %}" alt=""></span> 
                        </div>
                     </div>
                     <!--Department Box End--> 
                     <!--Department Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="community-box mb30">
                           <h6>Education and Skills </h6>
                           <ul>
                              <li><a href="#"><i class="fas fa-circle"></i> The Education System</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Publications &amp; Media Library</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> School, Colleges, Universities</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Boards of Management</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Educational Events</a></li>
                           </ul>
                           <a class="see-more" href="#">See More</a> <span><img src="{% static 'web/images/ccc-icon4.png' %}" alt=""></span> 
                        </div>
                     </div>
                     <!--Department Box End--> 
                     <!--Department Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="community-box">
                           <h6>Health &amp; Securities</h6>
                           <ul>
                              <li><a href="#"><i class="fas fa-circle"></i> Hospitals &amp; Emergencies</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Healty State Life</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Public Safety</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Police Department</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Fire Brigade &amp; Rescue Officials</a></li>
                           </ul>
                           <a class="see-more" href="#">See More</a> <span><img src="{% static 'web/images/ccc-icon5.png' %}" alt=""></span> 
                        </div>
                     </div>
                     <!--Department Box End--> 
                     <!--Department Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="community-box">
                           <h6>Laws &amp; Justice</h6>
                           <ul>
                              <li><a href="#"><i class="fas fa-circle"></i> Constitution &amp; Bylaws</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Legal Services</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Courts Policy</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Children &amp; Family Cases</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Equality &amp; Integration</a></li>
                           </ul>
                           <a class="see-more" href="#">See More</a> <span><img src="{% static 'web/images/ccc-icon6.png' %}" alt=""></span> 
                        </div>
                     </div>
                     <!--Department Box End--> 
                     <!--Department Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="community-box">
                           <h6>Roads &amp; Transport</h6>
                           <ul>
                              <li><a href="#"><i class="fas fa-circle"></i> Civil Aviation</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Maritime Services</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Sustainable Transport</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Roads &amp; Directions</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Corporate Information</a></li>
                           </ul>
                           <a class="see-more" href="#">See More</a> <span><img src="{% static 'web/images/ccc-icon7.png' %}" alt=""></span> 
                        </div>
                     </div>
                     <!--Department Box End--> 
                     <!--Department Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="community-box">
                           <h6>Climate &amp; Environment</h6>
                           <ul>
                              <li><a href="#"><i class="fas fa-circle"></i> National Mitigation Plan</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Solar System &amp; Windmills</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Natural Resources</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Strategic Energy Policy</a></li>
                              <li><a href="#"><i class="fas fa-circle"></i> Geological Survey Report</a></li>
                           </ul>
                           <a class="see-more" href="#">See More</a> <span><img src="{% static 'web/images/ccc-icon8.png' %}" alt=""></span> 
                        </div>
                     </div>
                     <!--Department Box End--> 
                  </div>
               </div>
            </div>
            <!--Events End-->
            {% include 'web/partials/subscribe.html' %}

            <!--Local Boards & Services Start-->
    <section class="wf100 p80 h2-local-brands">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2>Local Boards & Services</h2>
            </div>
          </div>
        </div>
        <div class="row m5">
          <div class="col-md-9 col-sm-8">
            <div class="row"> 
              <!--Start-->
              <div class="col-md-4 col-sm-6 p5">
                <div class="lb-box">
                  <h6>History & Culture</h6>
                  <img src="{% static 'web/images/cul1.jpg' %}" alt=""> </div>
              </div>
              <!--End--> 
              
              <!--Start-->
              <div class="col-md-4 col-sm-6 p5">
                <div class="lb-box">
                  <h6>Economy & Stats</h6>
                  <img src="{% static 'web/images/cul2.jpg' %}" alt=""> </div>
              </div>
              <!--End--> 
              
              <!--Start-->
              <div class="col-md-4 col-sm-6 p5">
                <div class="lb-box">
                  <h6>Constitution & Laws</h6>
                  <img src="{% static 'web/images/cul3.jpg' %}" alt=""> </div>
              </div>
              <!--End--> 
              
              <!--Start-->
              <div class="col-md-4 col-sm-6 p5">
                <div class="lb-box">
                  <h6>Citizen’s Rights</h6>
                  <img src="{% static 'web/images/cul4.jpg' %}" alt=""> </div>
              </div>
              <!--End--> 
              
              <!--Start-->
              <div class="col-md-4 col-sm-6 p5">
                <div class="lb-box">
                  <h6>Business</h6>
                  <img src="{% static 'web/images/cul5.jpg' %}" alt=""> </div>
              </div>
              <!--End--> 
              
              <!--Start-->
              <div class="col-md-4 col-sm-6 p5">
                <div class="lb-box">
                  <h6>Library & Education</h6>
                  <img src="{% static 'web/images/cul6.jpg' %}" alt=""> </div>
              </div>
              <!--End--> 
              
            </div>
          </div>
          
          <!--Helplines & Emergency Services Start-->
          <div class="col-md-3 col-sm-4">
            <div class="emergency-info lb">
              <h5>Helplines &
                Emergency
                Services </h5>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
                <!--Panel Start-->
                <div class="panel">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Mayor Office </a> </h6>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <ul>
                        <li> <i class="fas fa-user-tie"></i> Edward Robert</li>
                        <li> <i class="far fa-building"></i> 93002 Green Avenue</li>
                        <li> <i class="fas fa-phone"></i> 333 111 333</li>
                        <li> <i class="fas fa-fax"></i> 777 555 666 </li>
                        <li> <i class="far fa-envelope"></i> Mayor@balad.org </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--Panel End--> 
                <!--Panel Start-->
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading2">
                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2"> City Council </a> </h6>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body">
                      <ul>
                        <li> <i class="fas fa-user-tie"></i> Edward Robert</li>
                        <li> <i class="far fa-building"></i> 93002 Green Avenue</li>
                        <li> <i class="fas fa-phone"></i> 333 111 333</li>
                        <li> <i class="fas fa-fax"></i> 777 555 666 </li>
                        <li> <i class="far fa-envelope"></i> Mayor@balad.org </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--Panel End--> 
                <!--Panel Start-->
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading3">
                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3"> Police Emergency </a> </h6>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body">
                      <ul>
                        <li> <i class="fas fa-user-tie"></i> Edward Robert</li>
                        <li> <i class="far fa-building"></i> 93002 Green Avenue</li>
                        <li> <i class="fas fa-phone"></i> 333 111 333</li>
                        <li> <i class="fas fa-fax"></i> 777 555 666 </li>
                        <li> <i class="far fa-envelope"></i> Mayor@balad.org </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--Panel End--> 
                <!--Panel Start-->
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading4">
                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4"> Ambulance </a> </h6>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body">
                      <ul>
                        <li> <i class="fas fa-user-tie"></i> Edward Robert</li>
                        <li> <i class="far fa-building"></i> 93002 Green Avenue</li>
                        <li> <i class="fas fa-phone"></i> 333 111 333</li>
                        <li> <i class="fas fa-fax"></i> 777 555 666 </li>
                        <li> <i class="far fa-envelope"></i> Mayor@balad.org </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--Panel End--> 
                <!--Panel Start-->
                <div class="panel">
                  <div class="panel-heading" role="tab" id="heading5">
                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5"> E-Services </a> </h6>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body">
                      <ul>
                        <li> <i class="fas fa-user-tie"></i> Edward Robert</li>
                        <li> <i class="far fa-building"></i> 93002 Green Avenue</li>
                        <li> <i class="fas fa-phone"></i> 333 111 333</li>
                        <li> <i class="fas fa-fax"></i> 777 555 666 </li>
                        <li> <i class="far fa-envelope"></i> Mayor@balad.org </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--Panel End--> 
              </div>
            </div>
          </div>
          <!--Helplines & Emergency Services End--> 
          
        </div>
      </div>
    </section>
    <!--Local Boards & Services End--> 
         </div>
         <!--Main Content End--> 

         {% endblock %}