{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader">
    <div class="container">
        <h2>Educational Institute </h2>
        <ul>
            <li> <a href="{% url 'web:home' %}">Home</a> </li>
            <li> <a href="#">Educational Institute</a> </li>

        </ul>
    </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80 gallery">
    <!-- Gallery Page Start -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="city-updates">
                    <div class="title-style-3">
                    <h3>Schools</h3>
                </div>
                    <div class="row">
                        {% for educational_institution in educational_institution %}
                        <div class="col-md-4">
                            <ul>
                                <li> <strong><a href="#">{{ educational_institution.school_name }}</a></strong> </li>
                            </ul>
                        </div>

                        {% endfor %}
                    </div>

                </div>
                <div class="city-updates mt-5">
                    <div class="title-style-3">
                    <h3>Collages</h3>
                </div>
                    <div class="row">
                  

                        {% for educational_institution in educational_institution %}
                        <div class="col-md-4">
                            <ul>
                                <li> <strong><a href="#">{{ educational_institution.college_name }}</a></strong> </li>
                            </ul>
                        </div>

                        {% endfor %}
                    
                    </div>

                </div>
            </div>



        </div>

    </div>
    <!-- Gallery Page Start -->
</div>
<!--Main Content End-->

{% endblock %}