{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2>Upcoming city Programmes </h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li>  city Programmes </li>

      </ul>
   </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content">
   <!--Events Start-->
   <div class="events-wrapper events-listing">
      <div class="container">
         <div class="row">
            {% for event in event %}
            <!--Event Start-->
            <div class="col-md-4 col-sm-6">
               <div class="event-post">
                  <div class="thumb">  <img src="{{ event.event_image.url }}" alt=""></div>
                  <div class="event-post-content">
                     <div class="event-post-txt">
                        <h5>{{ event.event_heading }}</h5>
                        <ul class="event-meta">
                           <li><i class="far fa-calendar-alt"></i> {{ event.event_date }}</li>
                           <li><i class="far fa-clock"></i> {{ event.event_start_time }} - {{ event.event_end_time }}</li>
                        </ul>
                        <p>{{ event.event_description|safe }}</p>
                     </div>
                     <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> {{ event.event_location }} <a href="#"><i class="fas fa-arrow-right"></i></a> </div>
                  </div>
               </div>
            </div>
            <!--Event End--> 
            {% endfor %}
         </div>
      </div>
      <!--Events End-->
   </div>
   {% include 'web/partials/subscribe.html' %}

</div>

<!--Main Content End-->






















{% endblock %}