{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2>Event</h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> Event </li>

      </ul>
   </div>
</section>
<!--Sub Header End-->

<!--Main Content Start-->
<div class="main-content p30">
   <!--News Details Page Start-->
   <div class="news-details">
      <div class="container">
         <div class="row">
            <!--Content Col Start-->
            <div class="col-md-12">
               <h3 class="text-center my-5 text-capitalize">{{data.event_heading}}</h3>
               <div class="event-details">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="event-thumb"> <img src="{{data.event_image.url}}" alt=""> </div>
                     </div>
                     <div class="col-md-6">
                        <div class="event-content">

                           <div class="etext">
                              <ul class="emeta mt-sm-5">
                                 <li><strong>Category:</strong>{{data.event_catagory}}</li>
                                 <li><strong>Date:</strong>{{data.event_date}}</li>
                                 <li><strong>Time:</strong>{{data.event_start_time}}</li>
                                 <li><strong>End Time:</strong>{{data.event_end_time}}</li>
                                 <li><strong>Location:</strong> {{data.event_location}}</li>
                              </ul>
                              <p>{{data.event_description|safe}}</p>
                           </div>
                        </div>
                     </div>
                  </div>





               </div>
            </div>
            <!--Content Col End-->

         </div>
      </div>
   </div>
   <!--News Details Page End-->
</div>
<!--Main Content End-->

{% endblock %}