{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2>{{ single_news.news_heading }}</h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> <a href="{% url 'web:news' %}">News</a> </li>
         <li> Many Politicians React to... </li>
      </ul>
   </div>
</section>
<!--Sub Header End-->

<!--Main Content Start-->
<div class="main-content p80">
   <!--News Details Page Start-->
   <div class="news-details">
      <div class="container">
         <div class="row">
            <!--Content Col Start-->
            <div class="">
               <div class="news-box">
                  <div class="new-thumb"> <a href="#"><i class="fas fa-link"></i></a> <span
                        class="cat c4">{{ single_news.news_catagory }}</span> <img src="{{ single_news.news_image.url }}" alt=""> </div>
                  <div class="new-txt">
                     <ul class="news-meta">
                        <li>{{ single_news.news_date }}</li>
                     </ul>
                     <h4>{{ single_news.news_heading }}</h4>
                     <p>
                        {{ single_news.news_content|safe }}
                     </p>
                    
                     <!-- <ul class="checklist">
                        <li><i class="fas fa-check"></i> Suspendisse tempor sapien sit amet orci pharetra placerat.</li>
                        <li><i class="fas fa-check"></i> Duis ullamcorper lorem vel imperdiet congue.</li>
                        <li><i class="fas fa-check"></i> Nulla ullamcorper nisi et ligula eleifend ultrices.</li>
                        <li><i class="fas fa-check"></i> In quis turpis in massa dignissim viverra.</li>
                     </ul>
                     <blockquote>
                        <p> In this letter, please be sure to include any relevant claim number from the agency involved
                           in your case. In addition, please include any supporting documents or correspondence.</p>
                     </blockquote>
                     <p> Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it
                        is pain, but because occasionally circumstances occur in which toil and pain can procure him
                        some great pleasure. because it is pain, but because occasionally circumstances occur in which
                        toil and pain can procure him some great pleasure. </p>
                     <ul class="gallery-3-col">
                        <li><img src="{% static 'web/images/nd3.jpg' %}" alt=""></li>
                        <li><img src="{% static 'web/images/nd4.jpg' %}" alt=""></li>
                        <li><img src="{% static 'web/images/nd5.jpg' %}" alt=""></li>
                     </ul>
                     <h5>Industry Development</h5>
                     <p> Pellentesque egestas vulputate augue, id consectetur dolor blandit nec. Nullam fermentum turpis
                        in lacinia lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam metus
                        neque, posuere eget tempor ut, consectetur vel elit. Aliquam fringilla justo at arcu varius
                        Quisque est nunc, tristique in mollis quis, ullamcorper id diam. Mauris lorem elit, pellentesque
                        quis ultrices vel, bibendum a odio. Nunc dapibus lacus quis urna mattis, a interdum est blandit.
                     </p>
                     <p> In a free hour, when our power of choice is untrammelled and when nothing prevents our being
                        able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in
                        certain circumstances and owing to the claims of duty or the obligations of business it. </p>
                     <h5>Safety & Quality</h5>
                     <p> Sapien lacinia, pretium sapien gravida, maximus sapien. Cras id nulla vehicula dolor ultricies
                        gravida. In hac habitasse platea dictumst. Nunc quis ultrices augue, ut lacinia erat. Duis
                        varius cursus velit. </p>
                     <ul class="checklist">
                        <li><i class="fas fa-check"></i> Aliquam eget tellus sed dolor accumsan imperdiet.</li>
                        <li><i class="fas fa-check"></i> Nunc interdum arcu vel massa faucibus imperdiet.</li>
                        <li><i class="fas fa-check"></i> Vestibulum sollicitudin odio nec faucibus venenatis.</li>
                        <li><i class="fas fa-check"></i> Etiam iaculis nunc et iaculis sodales.</li>
                     </ul>
                     <ul class="gallery-2-col">
                        <li><img src="{% static 'web/images/nd1.jpg' %}" alt=""></li>
                        <li><img src="{% static 'web/images/nd2.jpg' %}" alt=""></li>
                     </ul> -->


                     <!--Post Tags Start-->
                     <!-- <div class="single-post-tags"> <a href="#">Health</a> <a href="#">City News</a> <a
                           href="#">Election</a> <a href="#">Campaign</a> <a href="#">Vote</a> <a
                           href="#">Democratic</a> <a href="#">Press</a> </div> -->
                     <!--Post Tags End-->
                     <!--Post Author Start-->
                     <!-- <div class="about-post-author">
                        <img src="{% static 'web/images/author.jpg' %}" alt="">
                        <h5>About Post Author</h5>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibe saepe eveniet ut
                           et voluptates repudiandae sint et molestiaerecusanda Itaque earum rerum hic tenetur a sapien
                           delectus, ut aut reiciendis.</p>
                     </div> -->
                     <!--Post Author End-->
                     <!--Post Comments Start-->
                     <!-- <div class="post-comments">
                        <h3 class="stitle">Comments on Post (4)</h3>
                        <ul class="comments">
                           <li class="comment">
                              <div class="user-thumb"><img src="{% static 'web/images/author.jpg' %}" alt=""></div>
                              <div class="user-comments">
                                 <h6 class="aname">Mason Gray</h6>
                                 <ul class="post-time">
                                    <li>Posted: 09 July, 2019 at 2:37 pm</li>
                                    <li><a href="#"><i class="fas fa-reply"></i> reply</a></li>
                                 </ul>
                                 <p>Many communities in the disease zones have inadequate sanitation that allow frequent
                                    trash piles and open sewers to serve as mosquito breeding and feeding grounds,
                                    according to the final outcome statement from the Aedes aegypti summit last month.
                                 </p>
                              </div>
                              <ul class="child-comments">
                                 <li class="comment">
                                    <div class="user-thumb"><img src="{% static 'web/images/author.jpg' %}" alt="">
                                    </div>
                                    <div class="user-comments">
                                       <h6 class="aname">Johny Elite</h6>
                                       <ul class="post-time">
                                          <li>Posted: 09 July, 2019 at 2:37 pm</li>
                                          <li><a href="#"><i class="fas fa-reply"></i> reply</a></li>
                                       </ul>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                                          odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius
                                          vitae.</p>
                                    </div>
                                 </li>
                                 <li class="comment">
                                    <div class="user-thumb"><img src="{% static 'web/images/author.jpg' %}" alt="">
                                    </div>
                                    <div class="user-comments">
                                       <h6 class="aname">Rog Kelly</h6>
                                       <ul class="post-time">
                                          <li>Posted: 09 July, 2019 at 2:37 pm</li>
                                          <li><a href="#"><i class="fas fa-reply"></i> reply</a></li>
                                       </ul>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                                          odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius
                                          vitae.</p>
                                    </div>
                                 </li>
                              </ul>
                           </li>
                           <li class="comment">
                              <div class="user-thumb"><img src="{% static 'web/images/author.jpg' %}" alt=""></div>
                              <div class="user-comments">
                                 <h6 class="aname">James Warson</h6>
                                 <ul class="post-time">
                                    <li>Posted: 09 July, 2019 at 2:37 pm</li>
                                    <li><a href="#"><i class="fas fa-reply"></i> reply</a></li>
                                 </ul>
                                 <p>Many communities in the disease zones have inadequate sanitation that allow frequent
                                    trash piles and open sewers to serve as mosquito breeding and feeding grounds.</p>
                              </div>
                           </li>
                        </ul>
                     </div> -->
                     <!--Post Comments End-->
                     <!--Related Post Start-->
                     <!-- <div class="related-posts">
                        <h3 class="stitle">Related Posts</h3>
                        <div class="row">
                           <ul>
                              <li class="col-md-4 col-sm-4">
                                 <div class="rel-box">
                                    <h6><a href="#">Social innovation of nonprofit, think tank, outcome to donate </a>
                                    </h6>
                                    <ul class="news-meta">
                                       <li>30 MAR, 2019</li>
                                       <li>176 Comments</li>
                                    </ul>
                                 </div>
                              </li>
                              <li class="col-md-4 col-sm-4">
                                 <div class="rel-box">
                                    <h6><a href="#">It’s Important for Teenagers to Attend the Political Activities </a>
                                    </h6>
                                    <ul class="news-meta">
                                       <li>30 MAR, 2019</li>
                                       <li>176 Comments</li>
                                    </ul>
                                 </div>
                              </li>
                              <li class="col-md-4 col-sm-4">
                                 <div class="rel-box">
                                    <h6><a href="#">Friday briefing: May turns politics into role-reversal game</a></h6>
                                    <ul class="news-meta">
                                       <li>30 MAR, 2019</li>
                                       <li>176 Comments</li>
                                    </ul>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div> -->
                     <!--Related Post End-->
                     <!--Post Comment Start-->
                     <!-- <div class="post-comments-form">
                        <h3 class="stitle">Leave a Comment</h3>
                        <div class="row">
                           <ul>
                              <li class="col-md-4 p5">
                                 <input type="text" placeholder="Full Name">
                              </li>
                              <li class="col-md-4 p5">
                                 <input type="text" placeholder="Email">
                              </li>
                              <li class="col-md-4 p5">
                                 <input type="text" placeholder="Subject">
                              </li>
                              <li class="col-md-12 p5">
                                 <textarea placeholder="Write Comments"></textarea>
                              </li>
                              <li class="col-md-12 p5">
                                 <input type="submit" value="Post Comment">
                              </li>
                           </ul>
                        </div>
                     </div> -->
                     <!--Post Comment End-->
                  </div>
               </div>
            </div>
            <!--Content Col End-->
         </div>
      </div>
   </div>
   <!--News Details Page End-->
   {% include 'web/partials/subscribe.html' %}

</div>
<!--Main Content End-->

{% endblock %}