{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader">
    <div class="container">
        <h2>{{data.comunity_name}} </h2>
        <ul>
            <li> <a href="{% url 'web:home' %}">Home</a> </li>
            <li> <a href="#">{{data.comunity_name}}</a> </li>

        </ul>
    </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80 gallery">
    <!-- Gallery Page Start -->
    <div class="container">
       
        <div class="city-updates explore-community-p">
            <h3>About {{data.comunity_name}}</h3>
            <p class="">{{data.content|safe}}</p>

        </div>
        <div class="row pt25">
          
            <div class="col-md-3 col-xs-6">
                <div class="widget">
                    <h4>
                        <img src="{{data.president_image.url}}" style="width: 100%;" alt="">
                    </h4>
                       <div class="categories inner">
                          <ul class="comunity-heads">
                             <li><a >{{data.president_name}}</a></li>
                             <li><a >President</a></li>
                             
                          </ul>
                       </div>
                    </div>
            </div>
            <!--Team Box End--> 
            <!--Team Box Start-->
            <div class="col-md-3 col-xs-6">
                <div class="widget">
                    <h4>
                        <img src="{{data.vice_president_image.url}}" style="width: 100%;" alt="">
                    </h4>
                       <div class="categories inner">
                          <ul class="comunity-heads">
                             <li><a >{{data.vice_president_name}}</a></li>
                             <li><a >Vice President</a></li>
                             
                          </ul>
                       </div>
                    </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="widget">
                    <h4>
                        <img src="{{data.chairman_image.url}}" style="width: 100%;" alt="">
                    </h4>
                       <div class="categories inner">
                          <ul class="comunity-heads">
                             <li><a >{{data.chairman_name}}</a></li>
                             <li><a >Chairman</a></li>
                            
                          </ul>
                       </div>
                    </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="widget">
                    <h4>
                        <img src="{{data.secretary_image.url}}" style="width: 100%;" alt="">
                    </h4>
                       <div class="categories inner">
                          <ul class="comunity-heads">
                             <li><a >{{data.secretary_name}}</a></li>
                             <li><a >Secretary</a></li>
                             
                          </ul>
                       </div>
                    </div>
            </div>
            
            
            <!--Team Box End--> 
         </div>
           
         <div class="city-updates pt25">
            <h3>Connect</h3>
            <div class="wf100 department-links ">
                <a class="btn btn-info c2" href="tel:{{data.contact_number}}"><span><i class="fas fa-3x fa-phone"></i></span></a>
                <a class="btn btn-success c2" href="https://wa.me/{{data.whatsapp_number}}"><span><i class="fab fa-3x fa-whatsapp"></i></span></a>
             </div>
        </div>
    </div>
    <!-- Gallery Page Start -->
</div>
<!--Main Content End-->

{% endblock %}