{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2>Gallery </h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> <a href="#">Gallery</a> </li>

      </ul>
   </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80 gallery">
   <!-- Gallery Page Start -->
   <div class="container">
      <div class="row">
         <!--Gallery Start-->
         {% for gallery in gallery %}
         <div class="col-md-4 col-sm-4">
            <div class="gallery-thumb"> <img src="{{ gallery.gallery.url }}" alt="">

               <div class="text-center">
                  <p class="imagedesc">{{ gallery.image_description }}</p>
               </div>
               <style>
                  .imagedesc{
                     padding: 0px 12px;
                     line-height: 60px;
                     position: relative;
                     
                     font-size: 14px;
                     font-weight: 700;
                     color: #333333;
                  }
                  
               </style>
            </div>
         </div>
         <!-- <div>
                     <p>jshdjsbdjhb</p>
                  </div> -->
         {% endfor %}

         <!--Gallery End-->
         <!--Gallery Start-->


      </div>
      
   </div>
   <!-- Gallery Page Start -->
</div>
<!--Main Content End-->

{% endblock %}