{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2> Health & Hospital</h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> <a href="#">
            Health & Hospital</a> </li>

      </ul>
   </div>
</section>
<!--Sub Header End-->


<!--Main Content Start-->
<div class="main-content p80 gallery">
   <!-- Gallery Page Start -->
   <div class="container">
      <div class="row">
{% for health_hospital in health_hospital %}

<div class="col-md-3 col-sm-6">
   <div class="event-post" style="height: 430px;">
      <div class="thumb">  <img src="{{ health_hospital.hospital_image.url }}" alt="Daru shifa ambulance service"></div>
      <div class="event-post-content">
         <div class="event-post-txt">
            <h5><a >{{ health_hospital.hospital_head }}
           </a></h5>
            <ul class="event-meta">
               <li>{{ health_hospital.hospital_address|safe  }}
               </li>
               
               <li>{{ health_hospital.hospital_phone  }}
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

{% endfor %}
 

      </div>
      
   </div>
   <!-- Gallery Page Start -->
</div>
<!--Main Content End-->

{% endblock %}