{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2>History&Tourism </h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> <a href="#">History&Tourism</a> </li>

      </ul>
   </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80 gallery">
   <!-- Gallery Page Start -->
   <div class="container">
      <div class="row">
       
         <div class="col-md-2"></div>
         <div class="col-md-8 col-sm-8 ">
{% for history_tourism in history_tourism %}
            <div class="event-post-full">
               <div class="thumb"> <img src="{{ history_tourism.history_image.url }}"
                     alt="{{ history_tourism.explore_city_head }}"> </div>
               <div class="event-post-content">
                  <div class="event-post-txt">

                     <h5><a>{{ history_tourism.history_heading }}
                        </a></h5>

                     <p>{{ history_tourism.history_description|safe }}
                     </p>
                  </div>
               </div>
            </div>
{% endfor %}

           
         </div>
         <div class="col-md-2"></div>


      </div>

   </div>
   <!-- Gallery Page Start -->
</div>
<!--Main Content End-->

{% endblock %}