{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2>History&Tourism </h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> <a href="#">History&Tourism</a> </li>

      </ul>
   </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80 gallery">
   <!-- Gallery Page Start -->
   <div class="container">
      <div class="row">

         <div class="col-md-2"></div>
         <div class="col-md-8 col-sm-8 ">
            <!--Event List Box Start-->
            <div class="event-post-full">
               <div class="thumb"> <img src="{% static 'web/images/Maha Kavi Moyinkutty Vaidyar Smaraka.jpg' %}"
                     alt="Maha Kavi Moyinkutty Vaidyar Smaraka"> </div>
               <div class="event-post-content">
                  <div class="event-post-txt">

                     <h5><a>Maha Kavi Moyinkutty Vaidyar Smaraka
                        </a></h5>

                     <p>The Maha Kavi Moyinkutty Vaidyar Smaraka is a commemorative building earmarked to Moyinkutty
                        Vaidyar (1852–1892), often referred to as Mahakavi (great poet), who is historically deemed as
                        one of the most prominent poets of the Mappila pattu genre of Malayalam language.
                     </p>
                  </div>
               </div>
            </div>
            <!--Event List Box End-->
            <!--Event List Box Start-->
            <div class="event-post-full">
               <div class="thumb"> <img src="{% static 'web/images/Kondotty Qubba.jpg' %}" alt="Kondotty Qubba"> </div>
               <div class="event-post-content">
                  <div class="event-post-txt">

                     <h5><a>Kondotty Qubba

                        </a></h5>

                     <p>Every year, thousands of devotees gather at Kondotty Qubba to celebrate Kondotty Nercha, a
                        week-long festival displaying religious processions. A remarkably ornate village fair is also
                        organised during the festival.

                     </p>
                  </div>
               </div>
            </div>
            <!--Event List Box End-->
            <!--Event List Box Start-->
            <div class="event-post-full">
               <div class="thumb"> <img src="{% static 'web/images/Pazhayangadi Mosque.jpg' %}"
                     alt="Pazhayangadi Mosque"> </div>
               <div class="event-post-content">
                  <div class="event-post-txt">

                     <h5><a>Pazhayangadi Mosque


                        </a></h5>

                     <p>In Kondotty, Pazhayangadi Mosque, also known as the Kondotty mosque, dates back to the 18th
                        century and is dedicated to Muhammad Shah, a Muslim saint known as Kondotty Thangal.


                     </p>
                  </div>
               </div>
            </div>
            <!--Event List Box End-->
            <!--Event List Box Start-->
            <div class="event-post-full">
               <div class="thumb"> <img src="{% static 'web/images/Mini Ooty.jpg' %}" alt="Mini Ooty"> </div>
               <div class="event-post-content">
                  <div class="event-post-txt">

                     <h5><a>Mini Ooty



                        </a></h5>

                     <p>Mini Ooty is a sightseer in Arimbra Hills about 10 kilometres from Kondotty. It is located at a
                        height of 1000 feet above sea level. Due to its rolling hills and scenic views, Mini Ooty
                        attracts a large number of visitors. The location is named after Ooty, one of India's most
                        famous hill stations.



                     </p>
                  </div>
               </div>
            </div>
            <!--Event List Box End-->
            <!--Event List Box Start-->
            <div class="event-post-full">
               <div class="thumb"> <img src="{% static 'web/images/misty land.jpg' %}" alt="misty land"> </div>
               <div class="event-post-content">
                  <div class="event-post-txt">

                     <h5><a>Misty Land Natural Park




                        </a></h5>

                     <p>Misty land natural park is famous for its attractive glass bridge located in Mini Ooty,
                        Kondotty. Rolling hills and scenic views make this place a popular destination at 1,050 ft above
                        sea level.



                     </p>
                  </div>
               </div>
            </div>
            <!--Event List Box End-->
            <!--Event List Box Start-->
            <div class="event-post-full">
               <div class="thumb"> <img src="{% static 'web/images/Poyilikkave Karinkali Temple.jpg' %}"
                     alt="Poyilikkave Karinkali Temple"> </div>
               <div class="event-post-content">
                  <div class="event-post-txt">

                     <h5><a>Poyilikkave Karinkali Temple




                        </a></h5>

                     <p>The Poyilikkave Karinkali Temple is one of the oldest temples in Nediyiruppu, built during the
                        Zamorins' reign. Zamorins had their headquarters at Nediyiruppu Swaroopam, and this temple had a
                        great deal of significance for them.


                     </p>
                  </div>
               </div>
            </div>
            <!--Event List Box End-->
            <!--Event List Box Start-->
            <div class="event-post-full">
               <div class="thumb"> <img src="{% static 'web/images/Cheruppadi Mala.jpg' %}"
                     alt="Cheruppadi Mala"> </div>
               <div class="event-post-content">
                  <div class="event-post-txt">

                     <h5><a>Cheruppadi Mala





                        </a></h5>

                     <p>Cheruppadi Mala and Mini Ooty viewpoints are the two most scenic sites of the Arimbra Hills, separated only by about 8 km. The Cheruppadi Mala viewpoint is located on the northwest, whereas the Mini Ooty viewpoint is located on the southeast.



                     </p>
                  </div>
               </div>
            </div>
            <!--Event List Box End-->
         </div>
         <div class="col-md-2"></div>



      </div>

   </div>
   <!-- Gallery Page Start -->
</div>
<!--Main Content End-->

{% endblock %}