{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<!--Slider Start-->
<div class="main-slider wf100">
    <div class="home2-slider rev_slider_wrapper">

        <!-- START REVOLUTION SLIDER -->
        <div class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev-slider2" class="rev_slider fullwidthabanner">
                <ul>
                    <li data-transition="fade"> <img src="{% static 'web/images/banner2.jpg' %}" alt="" width="1920"
                            height="685" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="1">
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="175" data-transform_idle="o:1;"
                            data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <div class="slide-content-box">
                                <h1>Step into The<br>
                                    Digital World
                                </h1>
                            </div>
                        </div>
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="345" data-transform_idle="o:1;"
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <div class="slide-content-box">
                                <p>Digital transformation of Kondotty.
                                </p>
                            </div>
                        </div>
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="410" data-transform_idle="o:1;"
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <!-- <div class="slide-content-box"> <a href="#" class="con">Join us Now</a> </div> -->
                        </div>
                    </li>
                    <li data-transition="slidehorizontal"> <img src="{% static 'web/images/banner2 copy xs.jpg' %}"
                            alt="" width="1920" height="685" data-bgposition="top center" data-bgfit="cover"
                            data-bgrepeat="no-repeat" data-bgparallax="1">
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="175" data-transform_idle="o:1;"
                            data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <div class="slide-content-box">
                                <h1>A Step Ahead <br>
                                    Wth Technology</h1>
                            </div>
                        </div>
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="345" data-transform_idle="o:1;"
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <div class="slide-content-box">
                                <p>Everyone can benefit from technology. It's everywhere and it's for everyone
                                </p>
                            </div>
                        </div>
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="450" data-transform_idle="o:1;"
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <!-- <div class="slide-content-box"> <a href="#" class="con">Learn More</a> </div> -->
                        </div>
                    </li>
                    <li data-transition="slidevertical"> <img src="{% static 'web/images/banner3.jpg' %}" alt=""
                            width="1920" height="685" data-bgposition="top center" data-bgfit="cover"
                            data-bgrepeat="no-repeat" data-bgparallax="1">
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="175" data-transform_idle="o:1;"
                            data-transform_in="x:[-75%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <div class="slide-content-box">
                                <h1>Tales Of A Digital City
                                    </h1>
                            </div>
                        </div>
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="345" data-transform_idle="o:1;"
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <div class="slide-content-box">
                                <p>Let’s crave a milestone in history together with #digitalkondotty.</p>
                            </div>
                        </div>
                        <div class="tp-caption  tp-resizeme" data-x="left" data-hoffset="400" data-y="top"
                            data-voffset="455" data-transform_idle="o:1;"
                            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none"
                            data-start="700">
                            <!-- <div class="slide-content-box"> <a href="#" class="con">Learn More</a> </div> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->

    </div>
</div>
<!--Slider End-->
<!--Main Content Start-->
<div class="main-content">
    <!--Mayor Msg with Video Start-->
    <section class="Mayor-video-msg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-4 col-xs-4">
                    <!--Mayor Msg Start-->
                    <a href="#" data-toggle="modal" data-target="#homeVideo" onclick="playVid()">
                        <div class="city-tour gallery"> 
                            <!-- <img class="playicon-btn d-lg-none" src="{% static 'web/images/playicon.png' %}" alt=""> -->
                            <img
                                src="{% static 'web/images/mla.jpg' %}" alt=""> </div>
                    </a>
                    <!--Mayor Msg End-->


                </div>
                <div class="col-md-8 col-sm-8 col-4 ">
                    <div class="Mayor-welcome">
                        <h5>Welcome to Digital Kondotty
                        </h5>
                        <p>Digital transformation is happening everywhere around the world. Bringing leading-edge
                            technology into Malappuram, #DigitalKondotty forges a path to digital ease for everyone.
                        </p>
                       

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Mayor Msg with Video End-->

    <!-- career -->
    <section class="wf100 city-news p50">
        <div class="container">
            <div class="title-style-3">
                <h3>City Jobs</h3>
                <!-- <p>Place your career in the most promising firms
                </p> -->
            </div>
            <div class="row">
                <!--Event Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="event-post">
                        
                        <div class="event-post-content">
                            <div class="event-post-txt city-jobs">
                                <h5><a href="{% url 'web:city_jobs_all' %}">Business Development Executive
                                </a></h5>
                                <ul class="event-meta">
                                    <li>COMPANY : Gedexo Technologies LLP
                                    </li>
                                    <li>CONTACT   : +91 8547 733 528</li>
                                    <li>MAIL		: gedexohr@gmail.com
                                    </li>
                                </ul>
                                <p>Strong communication & Presentation skill
                                    A..
                                    </p>
                            </div>
                            <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> Kondotty , MALAPPURAM <a
                                    href="{% url 'web:city_jobs_all' %}"><i class="fas fa-arrow-right"></i></a> </div>
                        </div>
                    </div>
                </div>
                <!--Event End-->
                 <!--Event Start-->
                 <div class="col-md-4 col-sm-6">
                    <div class="event-post">
                       
                        <div class="event-post-content">
                            <div class="event-post-txt city-jobs">
                                <h5><a href="{% url 'web:city_jobs_all' %}"> Python Developer
                                </a></h5>
                                <ul class="event-meta">
                                    <li>COMPANY : Gedexo Technologies LLP
                                    </li>
                                    <li>CONTACT   : +91 8547 733 528</li>
                                    <li>MAIL		: gedexohr@gmail.com
                                    </li>
                                    <li>2 - 3 Years experience
                                    </li>
                                </ul>
                            </div>
                            <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> Kondotty , MALAPPURAM <a
                                    href="{% url 'web:city_jobs_all' %}"><i class="fas fa-arrow-right"></i></a> </div>
                        </div>
                    </div>
                </div>
                <!--Event End-->
                <!--Event Start-->
                <div class="col-md-4 col-sm-6">
                    <div class="event-post">
                        <div class="thumb"> <a href="#"><i class="fas fa-link"></i></a> </div>
                        <div class="event-post-content">
                            <div class="event-post-txt city-jobs">
                                <h5><a href="{% url 'web:city_jobs_all' %}">Content Writer</a></h5>
                                <ul class="event-meta">
                                    <li>COMPANY : Gedexo Technologies LLP
                                    </li>
                                    <li>CONTACT   : +91 8547 733 528</li>
                                    <li>MAIL		: gedexohr@gmail.com
                                    </li>
                                </ul>
                                <p>Good Communication Skills (Verbal & Written ...
                                    
                                    
                                </p>
                            </div>
                            <div class="event-post-loc"> <i class="fas fa-map-marker-alt"></i> Kondotty , MALAPPURAM <a
                                    href="{% url 'web:city_jobs_all' %}"><i class="fas fa-arrow-right"></i></a> </div>
                        </div>
                    </div>
                </div>
                <!--Event End-->
               <div class="col-md-12 text-center mt-10">
                <a href="{% url 'web:city_jobs_all' %}" class="btn btn-warning">More jobs</a>
               </div>
                
            </div>
        </div>
    </section>




    <!-- career end -->

    <!--City News Start-->
    <section class="wf100 city-news ">
        <div class="container">
            <div class="title-style-3">
                <h3>  News & Updates</h3>
                <!-- <p>Read the News Updates and Articles about Government </p> -->
            </div>
            <div class="row">
                <!--News Box Start-->
                {% for news in news %}
                <div class="col-md-3 col-sm-6">
                    <div class="news-box">
                        <div class="new-thumb"> <span class="cat c1">{{ news.news_catagory }}</span> <img
                                src="{{ news.news_image.url }}" alt=""> </div>
                        <div class="new-txt">
                            <ul class="news-meta">
                                <li>{{ news.news_date }}</li>
                                
                            </ul>
                            <h6><a href="{% url 'web:news-single' news.id %}" class="newscontent-heading">{{ news.news_heading|truncatechars:30 }}</a></h6>
                            <p class="newscontent"> {{ news.news_content|safe }}</p>
                        </div>
                        <style>
                            .newscontent {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                /* number of lines to show */
                                line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        </style>
                        <div class="news-box-f"> 
                            <span class="ml-2">Read more</span>
                            <a href="{% url 'web:news-single' news.id %}"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--News Box End-->
            </div>
        </div>
    </section>
    <!--City News End-->
    <!--Departments & Information Desk Start-->
    <section class="wf100 p75-50  depart-info">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-style-3">
                        <h3> Explore Cities</h3>
                        <!-- <p>Read the News Updates and Articles about Government </p> -->
                    </div>
                    <div class="row">
                        <!--Icon Box Start-->
                        <a href="{% url 'web:history_tourism' %}">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-xs-6">
                          <div class="deprt-icon-box"> <img src="{% static 'web/images/deprticon1.png' %}" alt="">
                                <h6> <a href="{% url 'web:history_tourism' %}">History & Tourism</a> </h6>

                            </div>
                        
                        </div>
                    </a>
                        <!--Icon Box End-->
                        <!--Icon Box Start-->
                        <a href="{% url 'web:muncipality_village' %}">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-xs-6">
                            <div class="deprt-icon-box"> <img src="{% static 'web/images/deprticon2.png' %}" alt="">
                                <h6> <a href="{% url 'web:muncipality_village' %}">Municipality & Villages </a> </h6>

                            </div>
                        </div>
                    </a>
                        <!--Icon Box End-->
                        <!--Icon Box Start-->
                        <a href="{% url 'web:education' %}">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-xs-6">
                            <div class="deprt-icon-box"> <img src="{% static 'web/images/deprticon3.png' %}" alt="">
                                <h6> <a href="{% url 'web:education' %}">Educational Institute</a> </h6>

                            </div>
                        </div>
                    </a>
                        <!--Icon Box End-->
                        <!--Icon Box Start-->
                        <a href="{% url 'web:health_hospital' %}">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-xs-6">
                            <div class="deprt-icon-box"> <img src="{% static 'web/images/deprticon4.png' %}" alt="">
                                <h6> <a href="{% url 'web:health_hospital' %}">Health & Hospital</a> </h6>

                            </div>
                        </div>
                    </a>
                        <!--Icon Box End-->
                        <!--Icon Box Start-->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-xs-6">
                            <div class="deprt-icon-box"> <img src="{% static 'web/images/deprticon5.png' %}" alt="">
                                <h6> <a >Business & Shops</a> </h6>

                            </div>
                        </div>
                        <!--Icon Box End-->
                        <!--Icon Box Start-->
                        <a href="{% url 'web:help_line' %}">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6 col-xs-6">
                            <div class="deprt-icon-box"> <img src="{% static 'web/images/deprticon6.png' %}" alt="">
                                <h6> <a href="{% url 'web:help_line' %}">Helpline Service</a> </h6>

                            </div>
                        </div>
                    </a>
                        <!--Icon Box End-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="emergency-info">
                        <h5>Helplines &
                            Emergency
                            Services </h5>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <!--Panel Start-->
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">MLA
                                            office</a> </h6>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul>
                                            <li> <i class="fas fa-user-tie"></i> T.V Ibrahim</li>
                                            <li> <i class="far fa-building"></i> 673638 Kondotty,</li>
                                            <li> <i class="fas fa-phone"></i> 9446774400</li>
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Panel End-->
                            <!--Panel Start-->
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse2" aria-expanded="true"
                                            aria-controls="collapse2">Municipality</a> </h6>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading2">
                                    <div class="panel-body">
                                        <ul>
                                            <li>  Mahakavi Moyinkutty Vaidyar Smarakam,</li>
                                            <li>  Kozhikode - Palakkad Hwy, Kondotty, </li>
                                            <li>Kerala 673638
                                            </li>
                                            <li> <i class="fas fa-phone"></i> 0483 271 2037</li>
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Panel End-->
                            <!--Panel Start-->
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="heading3">
                                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse3" aria-expanded="true" aria-controls="collapse3"> Police
                                        </a> </h6>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading3">
                                    <div class="panel-body">
                                        <ul>
                                            <li> <i class="fas fa-user-tie"></i> Kondotty</li>
                                            <li> <i class="far fa-building"></i> Kerala 673638</li>
                                            <li> <i class="fas fa-phone"></i> 0483 271 2041
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Panel End-->
                            <!--Panel Start-->
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="heading4">
                                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse4" aria-expanded="true" aria-controls="collapse4"> Ambulance
                                        </a> </h6>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading4">
                                    <div class="panel-body">
                                        <ul>
                                            <li> <i class="fas fa-user-tie"></i> Daru shifa ambulance service
                                            </li>
                                            <li> <i class="far fa-building"></i> Kunnumpuram, Kerala
                                            </li>
                                            <li> <i class="fas fa-phone"></i> 070336 99531
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Panel End-->
                            <!--Panel Start-->
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="heading5">
                                    <h6> <a role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse5" aria-expanded="true" aria-controls="collapse5"> E-Services
                                        </a> </h6>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading5">
                                    <div class="panel-body">
                                        <ul>
                                            <li> <i class="fas fa-user-tie"></i> Akshayaecentre Kondotty
                                            </li>
                                            <li> <i class="far fa-building"></i> HilalBuilding, BypassRoad, Kondotty, 673638
                                            </li>
                                            <li> <i class="fas fa-phone"></i> 9846218366</li>
                                            <li> <i class="far fa-envelope"></i> aksmpm058@gmail.com
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Panel End-->
                        </div>
                    </div>
                    <a href="#" class="jobs-link">Job Vacancies</a>
                    <ul class="reports">
                        <li> <a href="{% url 'web:city_jobs_all' %}"><i class="fas fa-file-alt"></i> Business Executive</a> </li>
                        <li> <a href="{% url 'web:city_jobs_all' %}"><i class="fas fa-file-alt"></i> Content Writer</a> </li>
                        <li> <a href="{% url 'web:city_jobs_all' %}"><i class="fas fa-file-alt"></i> Court Case about TAX</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Departments & Information Desk End-->
    <!--Recent Events Start-->
    <section class="wf100 p75 recent-events">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>Recent Events</h3>
                    <div class="recent-event-block">
                        <!--Slider Big Slider Start-->
                        <div class="recent-event-slider">
                            {% for event in event %}
                            <div class="event-big">
                                <div class="event-cap">
                                    <h5><a href="#">{{ event.event_heading }}</a></h5>
                                    <ul>
                                        <li><i class="fas fa-image"></i> {{ event.event_date }}</li>
                                        <li><i class="fas fa-play-circle"></i> {{ event.event_start_time }}</li>
                                    </ul>
                                    <p>
                                        {{ event.event_description|safe }}
                                    </p>
                                </div>
                                <img src="{{ event.event_image.url }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <!--Slider Big Slider End-->
                        <!--Slider Big Slider Nav-->
                        <div class="recent-event-slider-nav">
                            {% for event in event %}
                            <div><img src="{{ event.event_image.url }}" alt=""></div>
                            {% endfor %}
                        </div>
                        <!--Slider Big Slider Nav-->
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>Upcoming Schedules</h3>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Events" class="upcoming-event" aria-controls="Events" role="tab"
                                data-toggle="tab">Upcoming Events</a></li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Events">
                            <!--Event List Start-->
                            {% for event in event %}
                            <ul class="event-list">

                                <li> <strong class="edate">{{ event.event_date }}</strong> <strong class="etime">09:00
                                        pm</strong>
                                </li>
                                <li><img src="{{ event.event_start_time }}" alt=""></li>
                                <li class="el-title">
                                    <h6><a href="{% url 'web:event' %}">{{ event.event_heading }}</a></h6>
                                    <p><i class="fas fa-map-marker-alt"></i> {{ event.event_location}}</p>
                                </li>
                                <li> <a href="{% url 'web:event' %}" class="joinnow">Join Now</a> </li>

                            </ul>
                            {% endfor %}
                            <!--Event List End-->


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Recent Events End-->
    <!-- Explore Community Start-->
    <section class="wf100 p80 explore-community">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Explore Community</h3>
                   
                            <ul class="community-links-style-two">
                                <div class="row">
                                    <div class="col-md-12 col-xs-6">
                                        {% for explore_comunity in explore_comunity_1 %}
                                        <li> <a href="{% url 'web:explore_comunity_single' explore_comunity.id %}"> <img src="{% static 'web/images/excomm-icon1.png' %}" alt="">{{explore_comunity.comunity_name}}</a> </li>
                                        <!-- <li> <a href="#"> <img src="{% static 'web/images/excomm-icon2.png' %}" alt=""> OCI</a> </li>
                                        <li> <a href="#"> <img src="{% static 'web/images/excomm-icon3.png' %}" alt=""> BNI</a> </li>
                                        <li> <a href="#"> <img src="{% static 'web/images/excomm-icon4.png' %}" alt=""> M Park -->
                                            </a> </li>
                                            {% endfor %}
                                    </div>
                                    <div class="col-md-12 col-xs-6">
                                        {% for explore_comunity in explore_comunity_2 %}
                                        <li> <a href="{% url 'web:explore_comunity_single' explore_comunity.id %}"> <img src="{% static 'web/images/excomm-icon5.png' %}" alt=""> CITU</a> </li>
                                <!-- <li> <a href="#"> <img src="{% static 'web/images/excomm-icon6.png' %}" alt=""> STU
                                    </a> </li>
                                <li> <a href="#"> <img src="{% static 'web/images/excomm-icon7.png' %}" alt="">Political Parties
                                    </a> </li>
                                <li> <a href="#"> <img src="{% static 'web/images/excomm-icon8.png' %}" alt=""> Sports </a>
                                </li> -->
                                {% endfor %}
                                    </div>
                                </div>
                               
                                
                                <!-- <li> <a href="#"> <img src="{% static 'web/images/excomm-icon9.png' %}" alt=""> City Council
                                    </a> </li>
                                <li> <a href="#"> <img src="{% static 'web/images/excomm-icon10.png' %}" alt=""> Important
                                        Numbers </a> </li> -->
                            </ul>
                       
                   
                </div>
                <div class="col-md-6 ">
                    <h3>Meet Officials</h3>
                    <!--Team Slider Start-->
                    <div id="h3team-slider" class="owl-carousel owl-theme">
                        <!--Team Box Start-->

                        {% for official in official %}
                        <div class="item">
                            <div class="h3-team-box">
                                <div class="team-info">
                                    <h6>{{ official.officials_name }}</h6>
                                    <strong>{{ official.officials_designation }}</strong>
                                    <!-- <p> {{ official.officials_about }} </p> -->
                                    <!-- <ul>
                                        <li><strong>Connect:</strong></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul> -->

                                </div>
                                <img src="{{ official.official_image.url }}" alt="">
                            </div>
                        </div>
                        {% endfor %}

                        <!--Team Box Start-->
                    </div>
                    <!--Team Slider End-->
                </div>
            </div>
        </div>
    </section>
    <!-- Explore Community End-->



    <!--Main Content Start-->
    <div class="main-content">
        <!--Testimonials Start-->
        <section class="testimonials-section wf100 p80 graybg">
            <h2 class="text-center">What People Says</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="h3testimonials" class="owl-carousel owl-theme">
                            <!--testimonials box start-->

                            {% for testimonial in testimonial %}
                            <div class="item">
                                <p>
                                    {{ testimonial.testimonial }}
                                </p>
                                <div class="tuser"> <img src="{{ testimonial.person_img.url }}" alt="">
                                    <strong>{{ testimonial.name }}</strong> {{ testimonial.designation }}
                                </div>
                            </div>
                            {% endfor %}

                            <!--testimonials box End-->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonials End-->

    </div>
    <!--Main Content End-->
    {% include 'web/partials/subscribe.html' %}
</div>
<!--Main Content End-->



<div id="fade" onClick="lightbox_close();"></div>
<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()">X</button>
        <div class="embed-responsive embed-responsive-16by9">
          <video id="gossVideo" class="embed-responsive-item" controls="controls" poster="http://www.gossettmktg.com/video/dangot.png">
            <source src="{% static 'web/images/digitalkondotty.mp4' %}" type="video/mp4">
            <source src="{% static 'web/images/digitalkondotty.mp4' %}" type="video/webm">
            <source src="{% static 'web/images/digitalkondotty.mp4' %}" type="video/ogg">
            <object type="application/x-shockwave-flash" data="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="353" height="190">
              <param name="movie" value="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
              <param name="allowFullScreen" value="true">		<param name="wmode" value="transparent">
              <param name="flashVars" value="config={'playlist':['http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.png',{'url':'http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.mp4','autoPlay':false}]}">
              <img alt="Big Buck Bunny" src="http://www.gossettmktg.com/video/dangot.png" width="353" height="190" title="No video playback capabilities, please download the video below">
            </object>
          </video>
        </div>
      </div>
    </div>
  </div>
<!-- <div id="vidBox">
    <div id="videCont">
        <video autoplay id="v1" loop controls="controls">
            <source src="video/VideoPopUpHTML5.webm" type="video/webm">
            
        </video>
    </div>
</div> -->
<script>
    var vid = document.getElementById("gossVideo"); 

function playVid() { 
vid.play(); 
} 

function pauseVid() { 
vid.pause(); 
} 
</script>

{% endblock %}