{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
         <!--Sub Header Start-->
         <section class="wf100 subheader">
            <div class="container">
               <h2>Updated News & Articles</h2>
               <ul>
                  <li> <a href="{% url 'web:home' %}">Home</a> </li>
                  <li> <a href="#"> News </a> </li>
                
               </ul>
            </div>
         </section>
         <!--Sub Header End-->
         <!--Main Content Start-->
         <div class="main-content p80">
            <!--Events Start-->
            <div class="news-wrapper news-grid">
               <div class="container">
                  <div class="row">

                     {% for news in news %}
                     <!--News Box Start-->
                     <div class="col-md-3 col-sm-6">
                        <div class="news-box">
                           <div class="new-thumb">
                              <span class="cat c1">{{ news.news_catagory }}</span> <img src="{{ news.news_image.crop.262x201 }}" alt=""> 
                           </div>
                           <div class="new-txt">
                              <ul class="news-meta">
                                 <li>{{ news.news_date }}</li>
                                 
                              </ul>
                              <h6><a href="{% url 'web:news-single' news.id %}">{{ news.news_heading }}</a></h6>
                              <p class="newscontent"> {{ news.news_content|safe }}</p>
                           </div>
                           <div class="news-box-f"> <img src="{{ news.author_image.url }}" alt=""> {{ news.news_author }} <a href="{% url 'web:news-single' news.id %}"><i class="fas fa-arrow-right"></i></a> </div>
                        </div>
                     </div>
                     <!--News Box End--> 
                     {% endfor %}

                     <style>
                        .newscontent {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            /* number of lines to show */
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    </style>
                   
               
               </div>
            </div>
            <!--Events End--> 
            {% include 'web/partials/subscribe.html' %}

         </div>
         <!--Main Content End--> 

         {% endblock %}