{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2> News & Updates</h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> <a href="#"> News </a> </li>

      </ul>
   </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80">
   <!--Events Start-->
   <div class="news-wrapper news-grid">
      <div class="container">
         <div class="row">
            
            {% for news in news %}
            <div class="col-md-3 col-sm-6">
               <div class="news-box">
                   <div class="new-thumb"> <span class="cat c1">{{news.news_catagory}}</span> <img src="{{news.news_image.url}}" alt="{{news.news_heading}}"> </div>
                   <div class="new-txt">
                       <ul class="news-meta">
                           <li>{{news.news_date}}</li>

                       </ul>
                       <h6><a href="{% url 'web:news-single' news.id %}" class="newscontent-heading">{{news.news_heading|truncatechars:65}}</a></h6>
                       <p class="newscontent"> </p><p>{{news.news_content|safe|truncatechars:100}}</p><p></p>
                   </div>
                  
                   <div class="news-box-f"> 
                       <span class="ml-2">Read more</span>
                       <a href="/news-single/5/"><i class="fas fa-arrow-right"></i></a>
                   </div>
               </div>
           </div>
               {% endfor %}

              


            </div>
         </div>
         <!--Events End-->
         {% include 'web/partials/subscribe.html' %}

      </div>
      <!--Main Content End-->

      {% endblock %}