{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<!--Sub Header Start-->
<section class="wf100 subheader">
   <div class="container">
      <h2>{{ single_news.news_heading }}</h2>
      <ul>
         <li> <a href="{% url 'web:home' %}">Home</a> </li>
         <li> <a href="{% url 'web:news' %}">News</a> </li>
         
      </ul>
   </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80">
   <!--News Details Page Start-->
   <div class="news-details">
      <div class="container">
         <div class="row">
            
            <!--Content Col Start-->
            <div class="">
               <div class="news-box mb20">
                  <div class="col-md-6">
                     <div class="new-thumb"> <a href="#"><i class="fas fa-link"></i></a> <span
                        class="cat c4">{{ single_news.news_catagory }}</span> <img src="{{ single_news.news_image.url }}" alt=""> </div>
                  </div>
                  <div class="col-md-6">
                     <div class="new-txt">
                        <ul class="news-meta">
                           <li>{{ single_news.news_date }}</li>
                        </ul>
                        <h4>{{ single_news.news_heading }}</h4>
                        <p>
                           {{ single_news.news_content|safe }}
                        </p>
                       
                        
                     </div>
                  </div>
                
               </div>
            </div>
            <!--Content Col End-->
         </div>
      </div>
   </div>
   <!--News Details Page End-->
   {% include 'web/partials/subscribe.html' %}

</div>
<!--Main Content End-->

{% endblock %}