{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Digital Kondotty Reset Password</title>
 
   <link rel="stylesheet" href="{% static 'web/css/reset-password.css' %}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
   <link rel="icon" href="{% static 'web/images/DK-FAV.png' %}" type="image/png">
</head>
<body>
   <div class="pt-5 justify-content-center ">
   <div class="wrapper bg-white">
      <div class="h2 text-center">Reset Your Password</div>
      
      <form class="pt-3" method="post" id="reset_password">
         {% csrf_token %}
         <div class="form-group py-1 pb-2">
            <div class="input-field">
                <span class="fas fa-lock p-2"></span>
                <input type="password" name="password" placeholder="Enter New Password"   class="reset_new_password"> <br>
            </div>
            <label id="password-error" class="errors" for="password"></label>
        </div>
          <div class="form-group py-1 pb-2">
              <div class="input-field">
                  <span class="fas fa-lock p-2"></span>
                  <input type="password" name="confirm_password" placeholder="Enter Confirm Password" class="">
              </div>
              <label id="confirm_password-error" class="errors" for="confirm_password"></label>
          </div>
      
          <button class="btn btn-block text-center my-3" type="submit">Reset Password</button>
          <div class="text-center pt-3 text-muted">Not a member? <a href="{% url 'web:signup' %}">Sign up</a></div>
      </form>
  </div>
</div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" ></script>
   <script>
      var value = $("#password_reg").val();
$.validator.addMethod("checklower", function (value) {
    return /[a-z]/.test(value);
});
$.validator.addMethod("checkupper", function (value) {
    return /[A-Z]/.test(value);
});
$.validator.addMethod("checkdigit", function (value) {
    return /[0-9]/.test(value);
});
$.validator.addMethod("pwcheck", function (value) {
    return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) && /[a-z]/.test(value) && /\d/.test(value) && /[A-Z]/.test(value);
});

$('#reset_password').validate({
    errorClass: 'errors',
    rules: {
        password: {
            minlength: 8,
            maxlength: 30,
            required: true,
            //pwcheck: true,
            checklower: true,
            checkupper: true,
            checkdigit: true

        },
        confirm_password: {
            required: true,
            equalTo: ".reset_new_password",
        },
        
    },
    messages: {
        
        password: {
            pwcheck: "Password is not strong enough",
            checklower: "Need atleast 1 lowercase alphabet",
            checkupper: "Need atleast 1 uppercase alphabet",
            checkdigit: "Need atleast 1 digit"
        },
        confirm_password: {
            equalTo: "Password must be same"
        },
       
    },
    submitHandler: function (form) {
      
        form.submit();
    
    }
})

   </script>
</body>
</html>