{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<style>
    .p80 {
    padding-top: 53px !important;
    padding-bottom: 0 !important;
}
.m90 {
    margin-bottom: 0 !important;
}
.basic_requirements{
    margin-top: 10px;
}
</style>
<!--Sub Header Start-->
<section class="wf100 subheader">
    <div class="container">
        <h2>City Jobs</h2>
        <ul>
            <li> <a href="{% url 'web:home' %}">Home</a> </li>
            <li> <a href="{% url 'web:city_jobs_all' %}">Jobs</a> </li>

        </ul>
    </div>
</section>
<!--Sub Header End-->
<!--Main Content Start-->
<div class="main-content p80">
    <!-- Team Detials Start -->
    <div class="team-details">
        <div class="container">
            <div class="row">
                <div class="team-details-txt m90">
                    <div class="col-md-5">
                        <div class="team-img"> <img src="{{job.image.url}}" alt="{{job.image}}"> </div>
                    </div>
                    <div class="col-md-7">
                        <div class="team-detail">
                            <h3 class="job_title">{{job.job_title}}</h3>
                            
                            <strong class="advisor">{{job.company_name}}</strong>
                            
                            <h5>About Job</h5>
                            <p> {{job.about_job}}.</p>
                            <ul class="check-list">
                                <li><i class="fas fa-check"></i> {{job.job_type}}</li>
                            </ul>
                            <h5>About Company</h5>

                            <p> {{job.about_company}}. </p>
                            <a class="contact-team" href="tel:+91{{job.phone}}">Contact</a>
                            <ul class="member-social">
                                {% if job.facebook or job.linked_in or job.instagram %}
                                <li> Get Connect: </li>
                                {% endif %}
                                <li> 
                                    {% if job.facebook %}
                                    <a class="fb" href="{{job.facebook}}"><i class="fab fa-facebook-f"></i></a>
                                    {% endif %}
                                    {% if job.linked_in %}
                                         <a class="lnk" href="{{job.linked_in}}"><i
                                            class="fab fa-linkedin-in"></i></a>
                                        {% endif %}
                                        {% if job.instagram %}
                                             <a class="insta" href="{{job.instagram}}"><i
                                            class="fab fa-instagram"></i></a>
                                        {% endif %}
                                        </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="team-details-txt m40">
                            <h5 class="basic_requirements">Basic Requirements</h5>
                            <p class="basic_requirements_text">  {{job.basic_requirements}}.</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-lg btn-success">Apply Now</a>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
               
           
        </div>
    </div>
    <!-- Team Detials End -->
    <!--Main Content End-->
</div>
<!--Main Content End-->

{% endblock %}