{% extends 'jobs/partials/base.html' %}
{% load static %}
{% block content %}
<style>
  .errorlist{
    color: red;
  }
</style>
<!--**********************************
            Content body start
        ***********************************-->
{% block subheader %}
<div class="sub-header">
  <div class="d-flex align-items-center flex-wrap me-auto">
    <h5 class="dashboard_bar">Add Job</h5>
  </div>

</div>
{% endblock %}

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {% if messages %}
          
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <!-- <script>
            alert('{{message}}')
        </script> -->
        <div class="alert alert-success alert-dismissible fade show">
          <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>	
          <strong>Success!</strong> {{message}} .
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
          </button>
      </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Form Label Size</h4>
            </div>
            <div class="card-body">
              <div class="basic-form">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="mb-3 row">
                    <div class="col-md-6">
                      <label class="form-label">Job Title</label>
                      <div class="col-md-12">
                        {{form.job_title}}
                        {{form.job_title.errors}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Location</label>
                      <div class="col-md-12">
                        {{form.location}}
                        {{form.location.errors}}
                      </div>
                    </div>

                  </div>

                  <div class="mb-3 row">
                    <div class="col-md-6">
                      <label class="form-label">Vacancy</label>
                      <div class="col-md-12">
                        {{form.vacancy}}
                        {{form.vacancy.errors}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Job Type</label>
                      <div class="col-md-12">
                        {{form.job_type}}
                        {{form.job_type.errors}}
                      </div>
                    </div>

                  </div>
                  <div class="mb-3 row">
                    <div class="col-md-6">
                      <label class="form-label">Phone</label>
                      <div class="col-md-12">
                        {{form.phone}}
                        {{form.phone.errors}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Email</label>
                      <div class="col-md-12">
                        {{form.email}}
                        {{form.email.errors}}
                      </div>
                    </div>

                  </div>
                  <div class="mb-3 row">
                    <div class="col-md-6">
                      <label class="form-label">Company Name</label>
                      <div class="col-md-12">
                        {{form.company_name}}
                        {{form.company_name.errors}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Image</label>
                      <div class="col-md-12">
                        {{form.image}}
                        {{form.image.errors}}
                      </div>
                    </div>

                  </div>
                  <div class="mb-3 row">
                    <div class="col-md-6">
                      <label class="form-label">Basic Requirements </label>
                      <div class="col-md-12">
                        {{form.basic_requirements}}
                        {{form.basic_requirements.errors}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">About Company</label>
                      <div class="col-md-12">
                        {{form.about_company}}
                        {{form.about_company.errors}}
                      </div>
                    </div>

                  </div>
                  <div class="mb-3 row">
                    
                    <div class="col-md-6">
                      <label class="form-label">About Job</label>
                      <div class="col-md-12">
                        {{form.about_job}}
                        {{form.about_job.errors}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Facebook Link ( <span class="col-form-label-sm">Optional</span> )</label>
                      <div class="col-md-12">
                        {{form.facebook}}
                        {{form.facebook.errors}}
                      </div>
                    </div>
                  </div>

                  <div class="mb-3 row">
                    
                    <div class="col-md-6">
                      <label class="form-label">LinkedIn Link ( <span class="col-form-label-sm">Optional</span> )</label>
                      <div class="col-md-12">
                        {{form.linked_in}}
                        {{form.linked_in.errors}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Instagram Link ( <span class="col-form-label-sm">Optional</span> )</label>
                      <div class="col-md-12">
                        {{form.instagram}}
                        {{form.instagram.errors}}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 text-end">
                    <button type="submit" class="btn btn-success">Save Job</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--**********************************
            Content body end
        ***********************************-->

{% endblock %}