{% extends 'jobs/partials/base.html' %}
{% load static %}
{% block content %}

  <!--**********************************
            Content body start
        ***********************************-->
    {% block subheader %}
  <div class="sub-header">
    <div class="d-flex align-items-center flex-wrap me-auto">
        <h5 class="dashboard_bar">Dashboard</h5>
    </div>
   
</div>
{% endblock %}

        <div class="content-body">
            <div class="container-fluid">
               <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Job Applied Members</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example3" class="display" style="min-width: 845px">
                                    <thead>
                                        <tr>
                                           
                                            <th>Name</th>
                                            <th>Job</th>
                                           
                                            <th>Date</th>
                                            <th>Expected Salary</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                   <tbody>
                                    {% for job_applyed_users in job_applyed_users %}
                                    <tr>
                                        <td>{{job_applyed_users.name}}</td>
                                        <td>{{job_applyed_users.job}}</td>
                                        <td>{{job_applyed_users.date|date}}</td>
                                        <td>{{job_applyed_users.expected_salary}}</td>
                                        <td>
                                            <a href="{% url 'jobs:job-applied-user-single' job_applyed_users.id %}" class="btn btn-warning">more</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}